################################################################################
#                                                                              #
# 2D shallow water solver configuration file                                   #
# Default options are highlighted in [square brackets]                         #
# Options are NOT requried in any particular order. There should be NO space   #
# after the configuration option identifier string                             #
#                                                                              #
################################################################################

#---------------------- UNIFORM STRUCTURED MESH DEFINITION --------------------#

# Number of nodes in x and y direction (NODES_Y must be at least 2 for 2D)
NODES_X= 102
NODES_Y= 102

# Boundary limits coordinates (m)
x0= 0
xF= 200
y0= 0
yF= 200

#------------------------ SIMULATION NUMERICAL METHODS ------------------------#

# Total simulation time (s)
TOTAL_TIME= 12

# CFL number (smaller than 1 for stability)
CFL_NUMBER= 0.1

# Fluxes numerical method ([ROE], LAX-WENDROFF, HIGH-RES)
FLUX_NUM_METHOD= LAX-WENDROFF

# Entropy fix for Roe linearization ([NO], YES)
ENTROPY_FIX= YES

# Flux limiter ([NONE], SUPERBEE, VAN_LEER, MINMOD)
FLUX_LIMITER= NONE

#----------------------- BOUNDARY CONDITION DEFINITION ------------------------#

# Euler wall boundary marker (NONE = no marker)
MARKER_EULER= (1, 2, 3, 4)

# Open boundary marker (NONE = no marker)
MARKER_OPEN= ( NONE )
